@model Prodavnica.Models.kategorije

@{
    ViewBag.Title = "Obrisi kategoriju";
}

<h2>Obrisi kategoriju</h2>

<h3>Da li ste sigurni da zelite da obrisete kategoriju?</h3>
<div>
    <h4>kategorija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategorija)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu kategorija", "Index")
        </div>
    }
</div>
