@model Prodavnica.Models.proizvodjaci

@{
    ViewBag.Title = "Obrisi";
}

<h2>Obrisi</h2>

<h3>Da li ste sigurni da zelite da obrisete proizvodjaca?</h3>
<div>
    <h4>proizvodjac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proizvodjac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proizvodjac)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obrisi" class="btn btn-default" /> |
            @Html.ActionLink("Nazad na listu proizvodjaca", "Index")
        </div>
    }
</div>
